<div class="auth">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#login"><strong>Login</strong></a></li>
                <li class="tab col s6"><a  href="#signup"><strong>Signup</strong></a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            {{#if loginError}}
                <p class="alert">{{loginError}}</p>
            {{/if}}
            <h1>Login</h1>
            <form action="/auth/login" method="POST">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Enter email"></span> 
                </div>
                
                <div class="input-field">
                    <input name="password" id="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Enter password"></span>
                </div>
                
                <input type="hidden" name="_csrf" value="{{csrf}}">

                <p><a href="/auth/reset">Forgot password?</a></p>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
        <div id="signup" class="col s6 offset-s3">
            {{#if signupError}}
                <p class="alert">{{signupError}}</p>
            {{/if}}
            <h1>Signup</h1>
            <form action="/auth/signup" method="POST" novalidate>
                <div class="input-field">
                    <input id="r_email" name="email" type="email" class="validate" required>
                    <label for="r_email">Email</label>
                    <span class="helper-text" data-error="Enter email"></span>
                </div>
                
                <div class="input-field">
                    <input name="password" id="r_password" type="password" class="validate" required>
                    <label for="r_password">Password</label>
                    <span class="helper-text" data-error="Enter password"></span>
                </div>

                <div class="input-field">
                    <input name="confirm" id="confirm" type="password" class="validate" required>
                    <label for="confirm">Confirm password</label>
                    <span class="helper-text" data-error="Enter password"></span>
                </div>

                <div class="input-field">
                    <input name="name" id="name" type="text" class="validate" required>
                    <label for="name">Enter name</label>
                    <span class="helper-text" data-error="Enter name"></span>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">

                <button class="btn btn-primary" type="submit">Signup</button>
            </form>
        </div>
    </div>
</div>   