<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>
<footer class="page-footer">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Natus libero suscipit officia expedita non corrupti reiciendis perspiciatis, explicabo voluptatibus 
                debitis doloremque molestias pariatur nisi dignissimos. Rem maiores tempora numquam consequatur.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contacts</h5>
            <ul>
                <li>
                    <a class="waves-effect teal btn" href="https://www.instagram.com/tarnopolskyi_dmitriy/">Instagram</a>
                </li>
                <br>
                <li>
                    <a class="waves-effect teal btn" href="https://www.facebook.com/dmitriy.tarnopolskyi">Facebook</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2022 Dmytro Tarnopolskyi
    </div>
    </div>
</footer>