
<div class="container">
    <h2>
        CourseApp is the global study choice platform.
        <br>
        Empowering the world to choose education.
    </h2>


    <blockquote class="homepage-p left-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Incidunt molestias pariatur consequuntur, dolores esse ea animi minima sint soluta consequatur iusto.</blockquote>

    <blockquote class="homepage-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Cum optio velit saepe nihil quos autem veritatis error vel labore laborum?</blockquote>

    <div class="row">
        <div class="col s4">
            <div class="card-panel teal">
                <p class="white-text"><strong>Transform your life through education</strong></p>
                <span class="white-text">
                    <strong>Transform your life through education</strong>
                    <br>
                    Learners around the world are launching new careers, advancing in their fields, and enriching their lives.
                </span>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel teal">
                <span class="white-text">
                    <strong>Large user community</strong>
                    <br>
                    100 000 000 teachers and learners use CourseApp for education and course creation.
                </span>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel teal">
                <span class="white-text">
                    <strong>Mobile apps</strong>
                    <br>
                    Learners can use the convenient CourseApp apps for Android and iOS to practice.
                </span>
            </div>
        </div>
    </div>
</div>